{% extends 'sidebar_admin.html' %}
{% block content %}
<html>
    <style>
        .tab-pane{
            background-color: #FFFFFF;
        }

    </style>
    <body>
        <br>
        <h4><b>List of Students</b></h4>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container mt-5">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tab1">Active Student(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab2">Archived Student(s)</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade show active">
                    {% include 'student_list_view.html' %}
                </div>
                <div id="tab2" class="tab-pane fade">
                    {% include 'admin_student_list_tab2.html' %}
                </div>
            </div>
        </div>
    </body>
    <script>
        // Get the active_tab variable from the template
        var activeTab = "{{ active_tab }}";

        // Set the active tab
        $(document).ready(function() {
            $('.nav-tabs a[href="#' + activeTab + '"]').tab('show');
        });


        // Function to hide the success message after a delay
        function hideSuccessMessage() {
            var successMessage = document.querySelector(".alert-success");
            if (successMessage) {
                setTimeout(function() {
                    successMessage.style.display = "none";
                }, 3000); // Adjust the delay (in milliseconds) as needed (e.g., 5000ms = 5 seconds)
            }
        }
        // Call the hideSuccessMessage function when the page loads
        window.onload = hideSuccessMessage;
    </script>
</html>

{% endblock %}